<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WiPiBot | Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/grayscale.css" rel="stylesheet">

</head>

<body ng-app="myApp" >
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                         <span class="light">IPDroid
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/">HOME</a>
                        </li>
                    </ul>
                </div>

                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="active">
                            <a href="#video"><i class="glyphicon glyphicon-facetime-video"></i>  Video</a>
                        </li>
                        <li>
                            <a href="#control"><i class="fa fa-fw fa-dashboard"></i> Control</a>
                        </li>
                        <li>
                            <a href="#charts"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <!-- Video -->
                    <!-- Panel -->
                    <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb" id='control'>
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Command Center
                            </li>
                        </ol>
                    </div>
                    </div>
            
                    <!-- /.row -->
                    <div class="row">
                    </div>
                    <div class="col-md-8 col-md-6" align="center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-dashboard"></i> Control Panel</h3>
                            </div>
                        <div style="width:700px;height:350px;margin:30px auto;" ng-controller="MainCtrl">       
                            <table border="0" cellpadding="3" cellspacing="0">
                            <tr>
                            <button type="button" class="btn btn-default btn-lg" aria-label="Top Arrow" ng-click="fwd();">
                                <span class="glyphicon glyphicon-arrow-up" style="color:green" aria-hidden="true"></span>
                            </button> 
                            </tr><br>
                            <tr>
                            <button type="button" class="btn btn-default btn-lg" aria-label="Left Arrow" ng-click="left();">
                                 <span class="glyphicon glyphicon-arrow-left" style="color:green" aria-hidden="true"></span>
                            </button>
                            </tr>
                             <button type="button" class="btn btn-default btn-lg" aria-label="Stop" ng-click="stop();">
                                 <span class="glyphicon glyphicon-stop" style="color:red" aria-hidden="true"></span>
                            </button>
                            <tr>
                            <button type="button" class="btn btn-default btn-lg" aria-label="Right Arrow" ng-click="right();">
                                 <span class="glyphicon glyphicon-arrow-right" style="color:green" aria-hidden="true"></span>
                            </button>
                            </tr><br>
                            <button type="button" class="btn btn-default btn-lg" aria-label="Bottom Arrow" ng-click="bwd();">
                                 <span class="glyphicon glyphicon-arrow-down" style="color:green" aria-hidden="true"></span>
                            </button>
                            </table>
                        </div>
                    </div>
                    </div>


                    <div class="col-lg-8" align="center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-dashboard"></i> Accessories</h3>
                            </div>
                            <div style="width:700px;height:350px;margin:30px auto;">       
                                <table border="0" cellpadding="3" cellspacing="0">
                                    <tr>
                                      <button type="button" class="btn btn-info btn-mv" aria-label="Top Arrow" onclick="speed_up();">
                                        <span class="glyphicon glyphicon-chevron-up" style="color:green" aria-hidden="true"></span>
                                    </button> 
                                      <button type="button" class="btn btn-default btn-mv" aria-label="Speed down" onclick="speed_down();">
                                        <span class="glyphicon glyphicon-chevron-down" style="color:green" aria-hidden="true"></span>
                                    </button> 
                                    </tr><br>
                                    <tr>
                                     <button type="button" class="btn btn-default btn-mv" aria-label="Led" onclick="led();">
                                         <span class="glyphicon glyphicon-warning-sign" style="color:red" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-mv" aria-label="Record" onclick="record();">
                                         <span class="glyphicon glyphicon-facetime-video" style="color:blue" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-mv" aria-label="Stop record" onclick="stop_record();">
                                         <span class="glyphicon glyphicon-pause" style="color:blue" aria-hidden="true"></span>
                                    </button>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- /#page-wrapper -->

    </div>

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Angular JS -->
    <script src="/bower_components/angular/angular.min.js"></script>

    <script src="/js/myApp.js" type="text/javascript"></script>
</body>

</html>