<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IPDroid</title>
    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light">IPDroid</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#srccode">Source code</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="dashboard">Dashboard</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <div class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Your personal robot platform accessible from anywhere</h1>
                        <p class="intro-text">
                            It's finally here! We have brought the Internet of Things, remotely controlled bot to your life.
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About IPDroid</h2>
                <p>In the age of the Internet of Things, we believe that you deserve:</p>
                <p>A cool remotely controlled bot like the ones in movies.</p>
                <p>That can be controlled from anywhere in the world with a browser.</p>
                <p>With four on board sensors and full range motions.</p>
                <button type="button" class="btn btn-default btn-lg">
                    <a class="navbar-brand page-scroll" href="/dashboard">
                     Monitor your environment live now!
                    </a>
                </button>
            </div>
            <div style="width:300px;height:200px;margin:30px auto;">
            </div>
        </div>
    </section>

    <!-- srccode Section -->
    <section id="srccode" class="content-section text-center">
        <div class="srccode-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Source code</h2>
                    <p><a href="https://github.com/shashesh/IPDroid">https://github.com/shashesh/IPDroid</a>
                    </p>
                </div>
            </div>
            <div style="width:300px;height:30px;margin:10px auto;">

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; IPDroid 2017</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/grayscale.js"></script>

</body>

</html>